body {margin: 0px;
      overflow: hidden;
      }
.container{display:flex;
           flex-direction: column;
        }
.instructions{border: 3px solid #00a5ec;
              position: relative
              ;top:170px;
              left:270px;
            width: fit-content;border-radius: 20px;}
.instruct-list{margin: 40px;}
.instruct-list>li{font-size: 30px;
                    font-family: sans-serif;margin-top:15px;
                }


.buttons{position: relative;
top:320px;
left:1300px}
.start{
    font-size: 30px;
    font-family: sans-serif;
    background-color: #00a5ec;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 20px;

}
.start:hover{
    color:#00a5ec;
    background-color: white;
    border: 1px solid #00a5ec;
}
